body {
	font-family: Arial, monospace;
	background-image: url('https://teacherluke.co.uk/wp-content/uploads/2015/10/white-brick-wall-dutourdumonde-photography.jpg');
}
.picture {
	background-size:contain;
	background-repeat: no-repeat;
	background-image: url('https://scontent.fskg1-1.fna.fbcdn.net/v/t1.0-9/15241264_1225227310870055_6970925879036560661_n.jpg?_nc_cat=0&oh=6bffb753c605e3a13bdc19993f5ee4f3&oe=5BC92755');
	height: 650px;
}
.p-50 {
	padding: 50px 0;
}
.overlay {
	background: rgba(0,0,0,0.7);
	height: 850px;
}
.tekst {
	width: 90%;
	margin: 0 auto;
	color:white;
	font-style: italic;
	text-shadow: 1px 1px 1px white;
}
footer {
	color:silver;
	font-size:25px;
}