html {
	overflow-x: hidden;
}
body {
	margin: 0;
	font-family: "Verdana", sans-serif;
	line-height: 30px;
	width: 100%;
	font-size: 14px;
}
.bg {
	background-image: url(cover.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
.bg-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.top-content {
	color: white;
	text-align: center;
	font-size: 30px;
}
.top-content h2 {
	font-size: 50px;
	font-weight: bold;
}
.top-content button {
	background: linear-gradient(to right, turquoise, darkgreen);
	color: black;
	border: none;
	padding: 20px 40px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.image-text {
	width: 90%;
	margin: 1% auto;
	display: flex;
	justify-content: space-between;
}
.text, .image {
	width: 50%;
	margin: 2%;
}
.image img {
	width: 100%;
}
.text h2, .packages h2 {
	font-size: 2em;
	line-height: 1em;
}
.text button {
	background: black;
	color: turquoise;
	border: none;
	padding: 20px 40px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 5%;
}


footer i {
    background-color: black;
    color: turquoise;
    padding: 2%;
    margin: 1%;
}
footer {
	display: flex;
	justify-content: center;
	padding-bottom: 5%;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {

.image-text {
	display: block;
}
.text, .image {
    	width: 100%;
}















